<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-tooltip/1.0.2/bulma-tooltip.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-timeline/dist/css/bulma-timeline.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-switch/dist/css/bulma-switch.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-checkradio/dist/css/bulma-checkradio.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-slider/dist/css/bulma-slider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-slider/dist/js/bulma-slider.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-tagsinput/dist/css/bulma-tagsinput.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-tagsinput/dist/js/bulma-tagsinput.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>

    <!-- DateTime Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.10/css/tempus-dominus.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.10/js/tempus-dominus.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.10/js/jQuery-provider.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>

    <script src="js/web_rpc.js"></script>
    <script src="js/sireus_plot.js"></script>
    <script src="js/sireus_util.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.0.2/interact.min.js"></script>

    <style>
        .modal-content {
            width: 800px;
        }

        .no-draggon {
        }

        .modal-card {
            width: 60%;
        }

        .on-top {
            position: absolute !important;
            z-index: 100 !important;
            top: 80px;
            right: 80px;
        }

        .draggable {
            touch-action: none;
            user-select: none;
        }
    </style>

</head>
<body>
    <div class="container">
        {{> 'partials/navbar_common' }}
        {{> 'partials/interactive_control' }}

        <div id="embed">
        {{embed}}
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Sireus</strong> by <a href="https://www.linkedin.com/in/ghowland/">Geoff Howland</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and available on <a href="https://github.com/ghowland/sireus">GitHub</a>.
                </p>
            </div>
        </footer>


        <div class="modal" id="modal_plot">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div id='plot'><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="$('#modal_plot').removeClass('is-active')"></button>
        </div>

    </div>
</body>
</html>
{{> 'partials/jquery_main_common' }}
