<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#">Overwatch</a></li>
        <li><a href="#">Bot Group Y</a></li>
        <li><a href="#">Bot X</a></li>
        <li class="is-active"><a href="#" aria-current="page">Configuration</a></li>
    </ul>
</nav>
