<div id="interactive_control" class="is-hidden-not">
    <div class="content">
        <div class="box has-background-info has-text-white">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="is-5 has-text-white">Interactive Controls</h1>
                </div>
                <div class="column" style="text-align: right">
                    <span style="padding-left: 1.5em; font-size: 1.4em;">
                        <span class="icon has-text-white has-tooltip-arrow" data-tooltip="Close" style="border-bottom: 0 solid !important;">
                          <i class="fa-solid fa-circle-xmark" onclick="$('#interactive_control').toggleClass('is-hidden')"></i>
                        </span>
                    </span>
                </div>
            </div>

            <div class="has-background-white has-text-black no-draggon" style="padding: 1.5em;">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h4>Set Interactive Time Range</h4>
                        <p>All interactive sessions use a set time range to cache metrics data and perform quick tests.</p>
                    </div>
                    <div class="column">
                        <div class="field">
                            <input id="interQueryTime" type="checkbox" name="interQueryTime" class="switch is-outlined is-info" checked="checked">
                            <label for="interQueryTime">Query Time</label>
                        </div>
                        <div class="field">
                            <input id="interPlayForward" type="checkbox" name="interPlayForward" class="switch is-outlined is-info">
                            <label for="interPlayForward">Play</label>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p>Query Time Start: <span id="time_control_start"></span></p>
                    </div>
                    <div class="column">
                        <input id="queryTimeStart" class="input" type="datetime" value="01/11/2023">
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p>Query Time Duration:</p>
                    </div>
                    <div class="column">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="duration" id="interQueryDuration" placeholder="Duration in Minutes" value="60">
                                <span class="icon is-small is-left">
                                    <i class="fa-regular fa-clock"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p>Query Time Scrubber: <span id="time_control_scrubber"></span></p>
                    </div>
                    <div class="column">
                        <input class="slider is-fullwidth is-info" step="1" min="0" max="100" value="100" type="range" id="time_control_slider_scrubber" onchange="SetTimeControl('time_control_slider_scrubber', 'queryScrubTime', 'time_control_scrubber')">
                    </div>
                </div>

                <h4>Override States</h4>
                <p>Overriding states will only allow actions that match these states to be shown.  Overriding states will be turned </p>
                <div class="field">
                    <input class="is-checkradio has-background-color is-info" id="enable_state_override_1" type="checkbox" name="state_override_1" checked="checked">
                    <label for="enable_state_override_1">State Override: <span id=""></span></label>
                </div>
                <button class="button is-warning">
                    <span class="icon is-small">
                      <i class="fa-solid fa-arrows-spin"></i>
                    </span>
                    <span>Add State Override</span>
                </button>
                <p></p>

                <h4>Override Variables</h4>
                <div class="field">
                    <input class="is-checkradio has-background-color is-info" id="enable_var_override_1" type="checkbox" name="var_override_1" checked="checked">
                    <label for="enable_var_override_1">Variable Override: <span id=""></span></label>
                </div>
                <button class="button is-warning">
                    <span class="icon is-small">
                      <i class="fa-solid fa-chart-line"></i>
                    </span>
                    <span>Add Variable Override</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    // Global interactive control data, gets passed to RPC, and updated each time
    var interactiveControl = {
        queryStartTime: undefined,
        queryDuration: 60,
        queryScrubTime: undefined,
        playFromQueryTime: true,
    };


    $('#queryTimeStart').tempusDominus({});


    function ZeroPad(num, places) {
        var zero = places - num.toString().length + 1;
        return Array(+(zero > 0 && zero)).join("0") + num;
    }

    function PrintUTCTime(d) {
        var output = d.getUTCFullYear() + '-' + ZeroPad(d.getUTCMonth() + 1, 2) + '-' + ZeroPad(d.getUTCDate(), 2) + ' ' + d.getUTCHours() + ':' + ZeroPad(d.getUTCMinutes(), 2) + ':' + ZeroPad(d.getUTCSeconds(), 2) + ' UTC';

        return output;
    }

    function SetTimeControl(valueElementId, interactiveVarName, outputElementId) {
        var d = new Date();

        d.setTime(Date.now())

        var timeNum = d.getTime();

        var value = 100 - $('#'+valueElementId).val();

        var timeSpan = 86400 / 100; // One hour timespan
        // var timeSpan = 3600 / 100; // One hour timespan

        var d2 = new Date(timeNum - (value * 1000 * timeSpan));

        var output = PrintUTCTime(d2);

        // Get the UTC time in milliseconds
        interactiveControl[interactiveVarName] = d2.getTime();

        // Set the duration.  Should this happen somewhere else?
        interactiveControl['queryDuration'] = $('#interQueryDuration').val();

        $('#'+outputElementId).html(output);
    }
    SetTimeControl();
</script>
