<div id="interactive_control" class="is-hidden-not">
    <div class="content">
        <div class="box has-background-info has-text-white">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="is-5 has-text-white">Interactive Controls</h1>
                </div>
                <div class="column" style="text-align: right">
                    <span style="padding-left: 1.5em; font-size: 1.4em;">
                        <span class="icon has-text-white has-tooltip-arrow" data-tooltip="Close" style="border-bottom: 0 solid !important;">
                          <i class="fa-solid fa-circle-xmark" onclick="$('#interactive_control').toggleClass('is-hidden')"></i>
                        </span>
                    </span>
                </div>
            </div>

            <div class="has-background-white has-text-black no-draggon" style="padding: 1.5em;">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h4>Set Override Values</h4>
                    </div>
                    <div class="column">
                        <div class="field">
                            <input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-outlined is-info" checked="checked">
                            <label for="switchRoundedDefault">Play</label>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <input class="is-checkradio has-background-color is-info" id="enable_time_control" type="checkbox" name="enable_time_control" checked="checked">
                            <label for="enable_time_control">Query Time From: <span id="time_control"></span></label>
                        </div>
                    </div>
                    <div class="column">
                        <input class="slider is-fullwidth is-info" step="1" min="0" max="100" value="100" type="range" id="time_control_slider" onchange="SetTimeControl()">
                    </div>
                </div>

                <p>Other stuff</p>
                <p>Yeah</p>
            </div>
        </div>
    </div>
</div>
<script>
    function ZeroPad(num, places) {
        var zero = places - num.toString().length + 1;
        return Array(+(zero > 0 && zero)).join("0") + num;
    }

    function PrintUTCTime(d) {
        var output = d.getUTCFullYear() + '-' + ZeroPad(d.getUTCMonth() + 1, 2) + '-' + ZeroPad(d.getUTCDate(), 2) + ' ' + d.getUTCHours() + ':' + ZeroPad(d.getUTCMinutes(), 2) + ':' + ZeroPad(d.getUTCSeconds(), 2) + ' UTC';

        return output;
    }

    function SetTimeControl() {
        var d = new Date();

        d.setTime(Date.now())

        var timeNum = d.getTime();

        var value = 100 - $('#time_control_slider').val();

        var timeSpan = 86400 / 100; // One hour timespan
        // var timeSpan = 3600 / 100; // One hour timespan

        var d2 = new Date(timeNum - (value * 1000 * timeSpan));

        var output = PrintUTCTime(d2);

        $('#time_control').html(output);
    }
    SetTimeControl();
</script>