<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="images/long_logo.png" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="https://github.com/ghowland/sireus">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Server Info
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/site_query">
                        View Site Queries
                    </a>
                    <a class="navbar-item" href="/show_prom">
                        Show Prometheus Exporter
                    </a>
                    <a class="navbar-item" href="/show_config">
                        Show JSON Configs
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/ghowland/sireus#sireus">
                        GitHub Page
                    </a>
                    <a class="navbar-item" href="https://discord.gg/VTVXrXJWxk">
                        Chat on Discord
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/ghowland/sireus/issues">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <div class="field" style="padding-right: 0.5em; padding-top: 0.5em;">
                        <input id="liveDataUpdate" type="checkbox" name="liveDataUpdate" class="switch is-rtl is-info" checked="checked" onclick="UpdateLiveDataUpdate()">
                        <label for="liveDataUpdate">Live Update</label>
                    </div>
                    <!--
                    <a class="button is-warning" onclick="$('#interactive_control').toggleClass('is-hidden')">
                        Interactive
                    </a>
                    <a class="button is-light" onclick="Toast('info', 'Not Implemented', 'This is a prototype.  Account management not implemented.')">
                        Log in
                    </a>
                    <a class="button is-primary" onclick="Toast('error', 'Not Implemented', 'This is a prototype.  Account management not implemented.')">
                        <strong>Sign up</strong>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
</nav>
