<div class="block">
    <div class="box">
        <h2 class="title is-primary">{{condition.Name}}  <span class="tag is-primary">Score: {{get_bot_condition_data_final_score bot condition}}</span></h2>
        <h3 class="subtitle">{{condition.Info}}</h3>

        {{> 'partials/consider/table' }}

    </div>
</div>