<div class="card">
    <div class="card-content">
        <h2 class="title is-primary">{{condition.Name}}  <span class="tag is-primary">Score: {{get_bot_condition_data_final_score bot condition}}</span></h2>
        <h3 class="subtitle">{{condition.Info}}</h3>
        <p>Content here: {{condition.Weight}}</p>
        {{> 'partials/consider/table' }}
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <a href="#" class="button is-success is-outlined">
                <i class="fa fa-thumbs-up"></i>
                <i class="fa fa-thumbs-down"></i>
                <i class="fa fa-cloud"></i>
            </a>
        </div>
        <div class="card-footer-item">
            <a href="#" class="button is-danger is-outlined">
            </a>
        </div>
        <div class="card-footer-item">
            <a href="#" class="button is-info is-outlined">
                <button>Force Execution</button>
            </a>
        </div>
    </footer>
</div>
