<div class="block">
    <div class="box">
        <h2 class="title is-primary">{{action.Name}}  <span class="tag is-primary">Score: {{get_bot_action_data_final_score bot action}}</span></h2>
        <h3 class="subtitle">{{action.Info}}</h3>

        {{> 'partials/consider/table' }}

    </div>
</div>