<div class="card">
    <div class="card-content">
        <h2 class="title is-primary">{{action.Name}}</h2>
        <h3 class="subtitle">{{action.Info}}</h3>
        <p>Content here: {{action.Weight}}</p>
        {{> 'partials/consider/table' }}
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <a href="#" class="button is-success is-outlined">
                <i class="fa fa-thumbs-up"></i>
            </a>
        </div>
        <div class="card-footer-item">
            <a href="#" class="button is-danger is-outlined">
                <i class="fa fa-thumbs-down"></i>
            </a>
        </div>
        <div class="card-footer-item">
            <a href="#" class="button is-info is-outlined">
                <i class="fa fa-cloud"></i>
            </a>
        </div>
    </footer>
</div>
