
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><abbr title="Consideration Name">Name</abbr></th>
            <th><abbr title="Information">Info</abbr></th>
        </tr>
        </thead>
        {{#if_bot_group_length site.BotGroups 10}}
            <tfoot>
            <tr>
                <th><abbr title="Consideration Name">Name</abbr></th>
                <th><abbr title="Information">Info</abbr></th>
            </tr>
            </tfoot>
        {{/if_bot_group_length}}
        <tbody>
        </tbody>

        {{#each site.BotGroups as |bot_group bot_groupIndex|}} <!-- Action Consideration:Start -->

            <tr>
                <th><a href="bot_group?bot_group_id={{bot_group.Name}}">{{bot_group.Name}}</a></th>
                <td>{{bot_group.Info}}</td>
            </tr>

        {{/each}} <!-- Action Consideration:End -->

    </table>
</div>