
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><abbr title="Variable Name">Name</abbr></th>
            <th><abbr title="Value">Value</abbr></th>
            <th><abbr title="Time Updated">Time</abbr></th>
        </tr>
        </thead>
        {{#if_map_string_float64_length bot.VariableValues 10}}
            <tfoot>
            <tr>
                <th><abbr title="Variable Name">Name</abbr></th>
                <th><abbr title="Value">Value</abbr></th>
                <th><abbr title="Time Updated">Time</abbr></th>
            </tr>
            </tfoot>
        {{/if_map_string_float64_length}}
        <tbody>
        </tbody>

        {{#each bot.VariableValues as |value valueIndex|}} <!-- Action Consideration:Start -->

            <tr>
                <td>{{valueIndex}}</td>
                <td>{{value}}</td>
            </tr>

        {{/each}} <!-- Action Consideration:End -->

    </table>
</div>