<div class="block">

    <div class="field is-grouped is-grouped-multiline">

        {{#each bot.VariableValues as |value valueIndex|}} <!-- Action Consideration:Start -->
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-warning">{{value.Name}}</span>
                <span class="tag is-info">{{value.Value}}</span>
            </div>
        </div>
        {{/each}} <!-- Action Consideration:End -->

    </div>
</div>