
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="States are used to track one line of potential state progress">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Forward Sequence State Labels">States</span></th>
        </tr>
        </thead>
        {{#if_state_length States 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="States are used to track one line of potential state progress">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Forward Sequence State Labels">States</span></th>
            </tr>
            </tfoot>
        {{/if_state_length}}
        <tbody>
        </tbody>

        {{#each botGroup.States as |state stateIndex|}} <!-- State:Start -->

            <tr>
                <th>{{state.Name}}</th>
                <td>{{state.Info}}</td>
                <td>{{format_array_string_csv state.Labels}}</td>
            </tr>

        {{/each}} <!-- State:End -->

    </table>
</div>