
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><abbr title="Name">Name</abbr></th>
            <th><abbr title="Information">Info</abbr></th>
            <th><abbr title="Forward Sequence State Labels">States</abbr></th>
        </tr>
        </thead>
        {{#if_state_length States 10}}
            <tfoot>
            <tr>
                <th><abbr title="Name">Name</abbr></th>
                <th><abbr title="Information">Info</abbr></th>
                <th><abbr title="Forward Sequence State Labels">States</abbr></th>
            </tr>
            </tfoot>
        {{/if_state_length}}
        <tbody>
        </tbody>

        {{#each botGroup.States as |state stateIndex|}} <!-- State:Start -->

            <tr>
                <th>{{state.Name}}</th>
                <th>{{state.Info}}</th>
                <th>{{format_array_string_csv state.Labels}}</th>
            </tr>

        {{/each}} <!-- State:End -->

    </table>
</div>