
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Lock Timers are used to block Actions that require them for a period of time">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Type of Timer">Type</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
        </tr>
        </thead>
        {{#if_lock_timer_length LockTimers 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Lock Timers are used to block Actions that require them for a period of time">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Type of Timer">Type</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
            </tr>
            </tfoot>
        {{/if_lock_timer_length}}
        <tbody>
        </tbody>

        {{#each botGroup.LockTimers as |lockTimer lockTimerIndex|}} <!-- Query:Start -->

            <tr>
                <th>{{lockTimer.Name}}</th>
                <td>{{lockTimer.Type}}</td>
                <td>{{lockTimer.Info}}</td>
            </tr>


        {{/each}} <!-- Query:End -->

    </table>
</div>