<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Bot: {{bot.Name}}
    </h1>
    <p class="subtitle">
        {{bot.Info}}
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Variables</h1>
            {{> 'partials/bot/taglist_variable_value' }}

        </div>
    </div>

    <div class="columns">
        {{#each botGroup.Actions as |action actionIndex|}} <!-- Action:Start -->
        <div class="column"> <!-- Column:Start -->
            {{> 'partials/action/card' }}
        </div> <!-- Column:End -->
        {{/each}} <!-- Action:End -->
    </div>

</section>
