<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-3">
        Demo Actions
    </h1>
    <div class="content">
        <p>Welcome to the demo!  Please break the demo circuits or degrade the database storage and watch the system react.</p>
        <p><strong>Circuit 1</strong> and the <strong>Database Storage</strong> will automatically be fixed by the Sireus Actions, but <strong>Circuit 2</strong> must be manually fixed with the button below.</p>
    </div>
    <div class="columns">
        <div class="column">
            <button class="button is-danger">Break Circuit SFO-WAS-11</button>
        </div>
        <div class="column">
            <button class="button is-danger">Break Circuit SFO-LAS-27</button>
        </div>
        <div class="column">
            <button class="button is-info">Fix Circuit SFO-LAS-27</button>
        </div>
        <div class="column">
            <button class="button is-danger">Degrade Database Storage</button>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            {{#with_bot_group_by_name session "Edge" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
        <div class="column">
            {{#with_bot_group_by_name session "App" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
        <div class="column">
            {{#with_bot_group_by_name session "Database" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
    </div>

    <h1 class="title is-4">
        Action History
    </h1>
    <div class="content">
        <p>Here you can see the highest scoring Actions that are executed when all requirements are met.</p>
    </div>
    <div class="block">
        <div class="box">
            <div class="content">
                {{#with_command_history_all_latest session 10 as |commandHistory|}}
                    {{> 'partials/command_history/table' }}
                {{/with_command_history_all_latest}}
            </div>
        </div>
    </div>

</section>
<script>
    $(function() { HandlePageDataReloads('/api/web/demo_control', "{{{ input_data }}}", "{{{ interactive_control }}}"); });
</script>
