<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-3">
        Demo Actions - Design RFC Prototype
    </h1>
    <div class="content">
        <p>Welcome to the <a href="https://github.com/ghowland/sireus">Sireus decision system</a> demo!  Please break the demo circuits or degrade the database storage and watch the system react.  This is a design RFC prototype, not productionized.  Looking for feedback, feature requests and comments on clarity:  <a href="https://github.com/ghowland/sireus/issues">Issues</a>, <a href="https://discord.gg/VTVXrXJWxk">Discord</a></p>
        <p><i>Expect 10-15 seconds possible delay between actions.</i>  This is using live data exported from the Demo Server to Prometheus, and Sireus then requests the data from Prometheus and processes it.</p>
        <p><strong>Circuit SFO-WAS-11</strong> and the <strong>Database Storage</strong> will automatically be fixed by the Sireus Actions, but <strong>Circuit SFO-LAS-27</strong> must be manually fixed with the button below.</p>

        <div>
            <div class="divider">Traffic Control Slider: {{demo_current_request_per_second}} Requests Per Second</div>
        </div>

        <input class="slider is-fullwidth is-info" step="1" min="0" max="4000" value="{{demo_current_request_per_second}}" type="range" id="demo_traffic_control" onchange="RPC('/demo/action', {'action': 'set_edge_traffic', 'value': $(this).val()})">

    </div>
    <div class="columns">
        <div class="column">
            <button class="button is-danger" onclick="RPC('/demo/action', {'action': 'break', 'bot_group': 'Edge', 'bot':'SFO-WAS-11'})">Break Circuit SFO-WAS-11</button>
        </div>
        <div class="column">
            <button class="button is-danger" onclick="RPC('/demo/action', {'action': 'break', 'bot_group': 'Edge', 'bot':'SFO-LAS-27'})">Break Circuit SFO-LAS-27</button>
        </div>
        <div class="column">
            <button class="button is-info" onclick="RPC('/demo/action', {'action': 'fix', 'bot_group': 'Edge', 'bot':'SFO-LAS-27'})">Fix Circuit SFO-LAS-27</button>
        </div>
        <div class="column">
            <button class="button is-danger" onclick="RPC('/demo/action', {'action': 'break', 'bot_group': 'Database', 'bot':'sireus'})">Degrade Database Storage</button>
        </div>
        <div class="column">
            <button class="button is-primary has-text-dark" onclick="RPC('/demo/action', {'action': 'clear_command_history', 'bot_group': '', 'bot':''})">Clear Command History</button>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            {{#with_bot_group_by_name session "Edge" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
        <div class="column">
            {{#with_bot_group_by_name session "App" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
        <div class="column">
            {{#with_bot_group_by_name session "Database" as |botGroup|}}
                {{> 'partials/bot_group/card_summary' }}
            {{/with_bot_group_by_name}}
        </div>
    </div>

    <h1 class="title is-4">
        Command History
    </h1>
    <div class="content">
        <p>Here you can see the highest scoring Condition Commands that are executed when all requirements are met.</p>
    </div>
    <div class="block">
        <div class="box">
            <div class="content">
                {{#with_command_history_all_latest session 15 as |commandHistory|}}
                    {{> 'partials/command_history/table' }}
                {{/with_command_history_all_latest}}
            </div>
        </div>
    </div>

</section>
<script>
    $(function() { HandlePageDataReloads('/api/web/demo_control', "{{{ input_data }}}", "{{{ interactive_control }}}"); });
</script>
