<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Demo Control: {{#if app_config.EnableDemo}}Enabled{{else}}Disabled{{/if}}
    </h1>
    <p class="subtitle">
        {{#if app_config.EnableDemo}}
            Internal demo for learning how the system works.  This is not a part of production Sireus.
        {{else}}
            To enable the demo, change the "config.json" value "enable_demo" to true.
        {{/if}}
    </p>

    {{#if app_config.EnableDemo}}
    <div class="block">
        <div class="box">
            <h1 class="title is-3 has-text-info"><i class="fa-solid fa-users"></i> Interactive Sessions</h1>

            {{> 'partials/interactive/table_session' }}
        </div>
    </div>
    {{/if}}

</section>
