<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Bot: {{botGroup.Name}}
    </h1>
    <p class="subtitle">
        {{botGroup.Info}}
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Queries</h1>
            {{> 'partials/query/table' }}

            <h1 class="title is-big">Data</h1>

        </div>
    </div>

    <div class="columns">
        {{#each botGroup.Actions as |action actionIndex|}} <!-- Action:Start -->
        <div class="column"> <!-- Column:Start -->
            {{> 'partials/action/card' }}
        </div> <!-- Column:End -->
        {{/each}} <!-- Action:End -->
    </div>

</section>
