<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Bot: {{botGroup.Name}}
    </h1>
    <p class="subtitle">
        {{botGroup.Info}}
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Queries</h1>
            {{> 'partials/query/table' }}

            <h1 class="title is-big">Variables</h1>
            {{> 'partials/variable/table' }}

            <h1 class="title is-big">States</h1>
            {{> 'partials/state/table' }}

            <h1 class="title is-big">Lock Timers</h1>
            {{> 'partials/lock_timer/table' }}

        </div>
    </div>

    <div class="columns">
        {{#each botGroup.Actions as |condition conditionIndex|}} <!-- Action:Start -->
        <div class="column"> <!-- Column:Start -->
            {{> 'partials/condition/card' }}
        </div> <!-- Column:End -->
        {{/each}} <!-- Action:End -->
    </div>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Bots</h1>
            {{> 'partials/bot/table' }}

        </div>
    </div>


</section>
