<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Show Prometheus Exporter
    </h1>
    <p class="subtitle">
        Current Prometheus Exporter data
    </p>

    <div class="content">
        <p>Currently only the Demo metrics are being exported, and are prefixed with "<strong>demo_</strong>"</p>
        <p>Sireus exports information about its internal and actions prefixed with "<strong>bot_</strong>".</p>
    </div>

    <div class="block">
        <div class="box">
<code class="is-family-code" style="white-space: pre ; display: block;">{{{prometheus_exporter}}}</code>
        </div>
    </div>
</section>
