<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Show JSON Configs
    </h1>
    <p class="subtitle">
        Shows the JSON configs for this server configuration
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-3 has-text-info"><i class="fa-solid fa-server"></i> Sireus Config: config.json</h1>

            <code class="is-family-code" style="white-space: pre ; display: block;">{{{format_config_file "config/config.json"}}}</code>

        </div>
    </div>

    <div class="block">
        <div class="box">
            <h1 class="title is-3 has-text-info"><i class="fa-solid fa-sitemap"></i> Site Config: site.json</h1>

            <code class="is-family-code" style="white-space: pre ; display: block;">{{{format_config_file "config/site.json"}}}</code>

        </div>
    </div>

    {{#each site.BotGroupPaths as |path|}}
        <div class="block">
            <div class="box">
                <h1 class="title is-3 has-text-info"><i class="fa-solid fa-robot"></i> Bot Group: {{path}}</h1>

                <code class="is-family-code" style="white-space: pre ; display: block;">{{{format_config_file path}}}</code>

            </div>
        </div>
    {{/each}}

</section>
