<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Site: {{site.Name}}
    </h1>
    <p class="subtitle">
        {{site.Info}}
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Bot Groups</h1>
            {{> 'partials/bot_group/table' }}

        </div>
    </div>


</section>
