<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Site: {{site.Name}}
    </h1>
    <p class="subtitle">
        {{site.Info}}
    </p>

    <div class="block">
        <div class="box">
            <h1 class="title is-big">Bot Groups</h1>
            <div class="content">
                <p>Bot Groups are how we group agents together (Bots) that share the same metric data and Actions.</p>
                <p>For this demo I have created 3 basic Bot Groups that simulate an Edge, Web App and Database.</p>
            </div>
            {{> 'partials/bot_group/table' }}

        </div>
    </div>


</section>
