<section class="section">
{{> 'partials/breadcrumbs_common' }}
    <h1 class="title is-1">
        Site: {{site.Name}}
    </h1>
    <p class="subtitle">
        {{site.Info}}
    </p>

    {{> 'partials/query/table_site_query_result_cache_pool_item' }}

</section>
